<!DOCTYPE html>
<html>

<head>
    <style>

    </style>
</head>

<body>
    <div align="center">
        <h1 style="text-align: center;">RELAÇÃO DE DADOS</h1>

        <table>
            <tr>
                <th>Vitórias Trocando</th>
                <th>Vitŕorias Sem Trocar</th>
                <th>Razão</th>
            </tr>
            <tr>
                <td> {{ wins_changing }} </td>
                <td> {{ wins_not_changing }} </td>
                <td> {{ ratio }} </td>
            </tr>
        </table>

        <h2> GRÁFICO DE BARRAS </h2>
        <img src="../../barchart.png" />
    </div>
</body>

</html>